{if !empty($permissionMessage)}
    <div class="ow_anno ow_center">
        {$permissionMessage}
    </div>
{else}
	{if isset($profileActionToolbar)}
		{$profileActionToolbar}
	{/if}

	{if !empty($dashboardSwitchUrl)}
	<form class="ow_form dashboard_switch">
		<div class="ow_checkbox_group clearfix">
			<input type="checkbox" name="dashboard_switch" id="dashboard_switch" onclick="new OW_FloatBox({}); window.location='{$dashboardSwitchUrl}'; return true;">
			<label for="dashboard_switch">{text key="base+only_friends"}</label>
		</div>
	</form>
	{/if}

	{$componentPanel}
{/if}